// variable
@h1-color: #a67023;
// Insert your styling here.

h1{
  color: @h1-color;
}
#block-superfish-1 {
font-size: 0px;
}



#join-my-strings {
  background: url("http://ringsdrupal.com/sites/default/files/btn-join-mystirrings.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 0 none;
  display: block;
  height: 23px;
  margin-top: -120px;
  overflow: hidden;
  padding: 0;
  text-indent: -3000px;
  width: 175px;
  float: right;
}



//Register

.panel-default {
  border-color: transparent;
}
.panel-default > .panel-heading {
  background-color: #f5f0e6;
  border-color: transparent;
  color: @h1-color;
}

.panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
}
#block-block-10 {
  h2 {
    background: none repeat scroll 0 0 #f5f0e6;
    font-size: 14px;
    font-weight: normal;
    margin: 0 35px 1px;
    padding: 5px 1px 4px 11px;
  }
}


#stirrings-user-form {
  label {
    text-align: center;
    width: 60%;
    color: @h1-color;
    font-weight: normal;
    display: inline-flex;
  }

  input {

    width: 40%;
    float: none;
  }

  select {

    width: 40%;
   float: none;
  }
}



// menu block
#block-superfish-2 {
  margin-top: 38px;
  ul {

    li {
      background: url("http://stirrings.com/sites/default/files/nav-dot.gif") no-repeat scroll right 14px transparent;
      a {
        padding-top: 8px;
      }
      a:hover {
        color: #067427;
        outline: none;
        text-decoration: none;

      }
      a:focus {
        outline: none;
        text-decoration: none;

      }

    }
  }
}


.sf-menu.sf-style-light-blue li, .sf-menu.sf-style-light-blue.sf-navbar {
  background: transparent;
}
.sf-menu.sf-style-light-blue li:hover, .sf-menu.sf-style-light-blue li.sfHover, .sf-menu.sf-style-light-blue li.active a, .sf-menu.sf-style-light-blue a:focus, .sf-menu.sf-style-light-blue a:hover, .sf-menu.sf-style-light-blue a:active, .sf-menu.sf-style-light-blue.sf-navbar li li {
  background: none repeat scroll 0 0 #b7d5f3;
  color: #001020;
}
.sf-menu.sf-style-light-blue a {
  border: 0px solid #b7d5f3;
  color: #00305f;
  padding: 0.75em 1em;
}

